
<h1>HRkin Topics</h1>

<% @topics.each do |topic| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to topic.title, topic  %>
      </h4>
      <h5>
        <%= topic.content %>
      </h5>
     
      <%= link_to 'Edit', edit_topic_path(topic) %>
      <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
<br>
<br>
 <%= link_to 'New Topic', new_topic_path, class: "alert alert-success"  %>
