<div class="page-header">
  <center><strong><h1 id= "myToolTip" data-toggle="tooltip" title="Click on a Topic title to view all of the posts for that Topic."> HRKin Topics </h1></strong>
     
  </center>
</div>


<% @topics.each do |topic| %>
  <div class="media">
    <div class="media-body">
      <h3 class="media-heading">
        <span id= "myToolTip" data-toggle="tooltip" title="Click on this link to view all of the posts for this Topic.">
        <%= link_to topic.title, topic  %> </span>
      </h3>
           
      <%= link_to 'Edit', edit_topic_path(topic), class: 'btn btn-primary  alert alert-success' %>
      <%= link_to 'Destroy', topic, class: 'btn btn-primary alert alert-success', method: :delete, data: { confirm: 'Are you sure?' } %>
      
    </div>
     <%= will_paginate @topics %>
  </div>
  <hr>
<% end %>
<br>
<br>
 <%= link_to 'New Topic', new_topic_path, class: 'btn btn-primary alert alert-success'  %>
