<h1> <%= @topic.title %></h1>&nbsp<%= link_to 'Back', topics_path, class: 'btn btn-primary alert alert-info' %>
<% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_topic_path, class: 'btn btn-primary  alert alert-info' %>
       <%= link_to "Delete Topic", @topic, :method => :delete, class: 'btn btn-danger alert alert-info', :confirm => 'are you sure you want to delete' %> 
<%end %>
<hr>

<table id="postindex" class="table table-hover" >
  <thead>
    <tr>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by title"><button type="button" class="btn btn-primary">Title</button>&nbsp;&#8661;</th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by points"><button type="button" class="btn btn-primary">Point</button>&#8661;</th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by date: Year-Month-Day"><button type="button" class="btn btn-primary">Date</button>&nbsp;&#8661;</th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by comment count"><button type="button" class="btn btn-primary">Comment</button>&nbsp;&#8661;</th>
    </tr>
  <thead>
  <tbody>
   <% @posts.each do |post| %>
    <tr>
      <td > <%= image_tag(post.image.thumb.url) if post.image? %><strong><%=  link_to post.title,[@topic, post] %></strong></td>
      <td ><%=pluralize(post.points, 'point') %></td> 
      <td ><%= post.created_at.strftime "%Y-%m-%d " %></td>
      <td ><%=pluralize(post.comments.count,'comment') %></td> 
    </tr>
   <% end %>
  <tbody>
</table>
<br>

<%= link_to 'New Post', new_topic_post_path(@topic, @post), class: 'btn btn-primary alert alert-info' %> 
    
     
