<p id="notice"> <%= notice %></p>

<h1> <%= @topic.title %></h1>

<p>  <%= @topic.content %> </p>

<%= link_to 'Edit Topic', edit_topic_path(@topics) %> |
<%= link_to 'Back', topics_path %>

<h2> Posts </h2>
 <!--  <%#= form_tag topic_path(@topic, @posts), :method => :get do %>
  <p>
    <%#= text_field_tag :search, params[:search] %>
    <%#= submit_tag "search", :title => nil %>
  </p>
  <% #end %> -->
<table class="table" style="width:100%" >
  <tr>
    <th> Title </th>
    <th> Points </th> 
    <th> Date </th>
  </tr>
   <% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, [@topic, post] %></td>
    <td><%=pluralize(post.points, 'point') %></td> 
    <td><%=post.created_at.to_formatted_s(:short) %></td> 
  </tr>
  <% end %>
</table>
<br>

<%= link_to 'New Post', new_topic_post_path(@topic, @post), class: 'btn btn-success' 'alert alert-success' %> 
    

     
