<p id="notice"> <%= notice %></p>

<h1> <%= @topic.title %></h1>

<%= link_to 'Edit Topic', edit_topic_path(@topics) %> |
<%= link_to 'Back', topics_path %>
<hr>
<h2> Posts: </h2>
   

<table id="postindex" class="table table-hover" >
  <thead>
    <tr>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by title"><button type="button" class="btn btn-primary">Title</button>&nbsp;&#8661;</th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by points"><button type="button" class="btn btn-primary">Point</button>&#8661;</th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by date"><button type="button" class="btn btn-primary">Date</button>&nbsp;&#8661;</th>
    </tr>
  <thead>
  <tbody>
   <% @posts.each do |post| %>
  <tr>
    <td ><%= link_to post.title,[@topic, post] %></td>
    <td ><%=pluralize(post.points, 'point') %></td> 
    <td ><%= post.created_at.strftime("%B %e, %Y_%I:%M%p") %></td>
    
   </tr>
    <% end %>
  <tbody>
</table>
<br>

<%= link_to 'New Post', new_topic_post_path(@topic, @post), class: 'btn btn-success' 'alert alert-success' %> 
    

     
