<div class="page-header">
  <strong><h1> Wiki projects from Friends </h1></strong>
</div>
<div>
  <% @myfriend.each do |p| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to p.page.title, [p.page.user, p.page] %>
      </h4>
      <h5 class="media-heading">
        <%= truncate (p.page.content) %> <br>
       <small>Project by:</small> <%= link_to p.page.user.handle,(p.page.user) %>&nbsp<%= image_tag(p.page.user.avatar.small.url, class: "img-circle") %>
      </h5>
    </div>
  </div>
  <hr>
<% end %>



<div class="page-header">
  <strong><h1> Your Wikis </h1></strong>
</div>

 
<% @pages.each do |page| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to page.title, [page.user, page] %>
      </h4>
      <h5 class="media-heading">
        <%= truncate (page.content) %> <br>
       <small>Project by:</small> <%= link_to page.user.handle,(page.user) %>&nbsp<%= image_tag(page.user.avatar.small.url, class: "img-circle") %>
      </h5>
       
    </div>
      <%#= will_paginate @pages %>
  </div>
  <hr>
<% end %>

<br>
<br>
<%= link_to 'New wiki', new_user_page_path, class: 'btn btn-success' 'alert alert-success'  %>  

