<h1> My Resume </h1>
<h3><%= @page.title %></h3>
 <div class="resume">
<p><%= simple_format(@page.content) %></p>
<hr>
</div>

<h1>Job Qualification </h1>
<div class="document">
<p><%= simple_format(@page.document) %></p>
</div>

<h3>Add collaborators</h3>
<%= link_to 'Add collaborators', '', id: 'add-collaborators' %>
<div class= "add-collaborators hidden" >
<%= form_for [current_user, @page] do %>
    <%= hidden_field_tag 'page[user_ids][]',[] %>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Give Access</td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username.present? ? user.username : 'None' %></td>
          <td><%= user.email %></td>
          <td><%= check_box_tag :user_ids, user.id, @page.users.include?(user), name: 'page[user_ids][]' %></td>
        </tr>
      <% end %>
        
      </tr>
    </tbody>
  </table>
  <%= submit_tag %>
<% end %>
</div>

<br>

<%= link_to 'Wiki page', user_pages_path, class: 'btn btn-success' 'alert alert-success'  %>  
<%= link_to 'Edit Wiki', edit_user_page_path(@user, @page), class: 'btn btn-success' 'alert alert-success' %> 

