
  <div class="row">
    <div class="col-md-8">  
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= @post.title %>  
         <span class="user_avatars ">
          <%= link_to gravatar_for @post.user %>
        </span>
         <small>by <%= User.find(@post.user_id).username %></small> 
       </h4>
        </div>
      </div>  
      <% if post.kind == 'image' %>
        <%= image_tag post.content, style: "width: 100%" %> 
      <% else %>
      <%= @post.content %> 
        <% end %>
        <br>  
      <%= link_to 'Edit Post', edit_topic_post_path(@topic, @post), class: 'btn btn-success' 'alert alert-success'  %>
      <%= link_to "Delete Post",[@topic, @post], :method => :delete, class: 'btn btn-success' 'alert alert-success', :confirm => 'are you sure you want to delete' %> 
    </div>
  </div>
 


  