
  <div class="row">
    <div class="col-md-8">  
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
           <%= @post.title %> 
        <span class="user_avatars ">
         <%= image_tag(post.user.avatar.small.url) if post.user.avatar? %>
        </span>
         <small>by&nbsp<%= link_to post.user.handle,[@post.user, @user] %> </small> 
       </h4>
        </div>
      </div>  
      <% if post.kind == 'image' %>
        <%= image_tag post.content, style: "width: 100%" %> 
      <% else %>
      <%= @post.content %> 
        <% end %>
        <br>  
        <br> 
       <% if policy(@post).edit? %>
        <%= link_to 'Edit Post', edit_topic_post_path(@topic, @post), class: 'btn btn-primary' %>
       <% end %>
       <% if policy(@post).destroy? %>
         <%= link_to "Delete Post",[@topic, @post], :method => :delete, class: 'btn btn-primary', :confirm => 'are you sure you want to delete' %> 
       <% end %>
    </div>
  </div>
   <br>
 


  