
<%= render partial: 'post', locals: {post: @post, comment: @comment} %>

<div class="row">
    <div class="col-md-8">
      <h2> Comments:</h2>
        <div class='js-comments'>
        <%= render partial: "comments/comment", locals: {topic: @topic, post: @post, comment: @comment} %> 
        </div>
    </div>
</div>

<table>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <div class="col-md-8">
    <div class= 'new-comment'>
      <%= render :partial => "comments/form", locals: {post: @post, comment: @comment} %>
      <%= link_to "Edit Comment", edit_topic_post_path(@topic,@post), class: 'btn btn-success' %>

      <%= link_to "Delete Comment",[@topic, @post], :method => :delete, class: 'btn btn-danger', :confirm => 'are you sure you want to delete' %>
    </div>
  <div>
   