
<%= render partial: 'post', locals: {post: @post, comment: @comment} %>
<%= render :partial => "/votes/vote", locals: {post: @post, vote: @vote } %>


   <div>
      <h3> <%=pluralize(@post.points, 'point') %> </h3>
      <small>
        <%= pluralize(@post.up_votes, 'up vote') %>,
        <%= pluralize(@post.down_votes, 'down vote') %>,
          <div class='js-comments-count'>
          <%= pluralize(@comments.count,'comment') %>
          </div>
      </small>
    </div>

<div class="row">
    <div class="col-md-8">
      <h2> Comments:</h2>
        <div class='js-comments'>
        <%= render partial: "comments/comment", locals: {topic: @topic, post: @post, comment: @comment} %> 
        </div>
    </div>
</div>

<table>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td> &nbsp </td>
        <td> <%= link_to "Delete", [@topic, @post], :method => :delete, 
        :confirm => 'are you sure you want to delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <div class="col-md-8">
    <div class= 'new-comment'>
      <%= render :partial => "comments/form", locals: {post: @post, comment: @comment} %>
    </div>
  </div>

  