
<%= render partial: 'post', locals: {post: @post, comment: @comment} %>

<%= render :partial => "/votes/vote", locals: {post: @post, vote: @vote } %>

  <div>
    <small>
      <%= pluralize(@post.up_votes, 'up vote') %>,
      <%= pluralize(@post.down_votes, 'down vote') %>
        <div class='js-comments-count'>
         </div>

    </small>

  </div>
  <br>
    <%= link_to 'All topics', topics_path %>
    &nbsp
    <%= link_to 'Go back to Topic',topic_path(@topic) %>
 <div>
  <br>
  <hr>
    <h3> Comments:</h3>
      <p class="italic"> <%= pluralize(@comments.count,'comment') %> </p>
 
 </div>
 <table>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %><small> <i>created on </i> 
           <%=comment.created_at.to_formatted_s(:short) %><br></small>&nbsp

        <%= link_to "Delete",[@post, comment], :method => :delete, class: 'btn btn-success' 'alert alert-success', :confirm => 'are you sure you want to delete' %> 
          <hr></td>
      </tr>
    <% end %>
  </tbody>
 </table>

  <br>
 <div>
    <div class= 'new-comment'>
      <%= render :partial => "comments/form", locals: {post: @post, comment: @comment} %>
    </div>
  </div>

  