
<%= render partial: 'post', locals: {post: @post, comment: @comment} %>

<%= render :partial => "/votes/vote", locals: {post: @post, vote: @vote } %>

  <div>
    <small>
      <%= pluralize(@post.up_votes, 'up vote') %>,
      <%= pluralize(@post.down_votes, 'down vote') %>
        <div class='js-comments-count'>
         </div>

    </small>

  </div>
  <br>
    <%= link_to 'All topics', topics_path %>
    &nbsp
    <%= link_to 'Go back to Topic',topic_path(@topic) %>
 <div>
  <br>
  <hr>
    <h3> Comments:</h3>
      <p class="italic"> <%= pluralize(@comments.count,'comment') %> </p>
    <div>
      <%= render partial: "comments/comment", locals: {topic: @topic, post: @post, comment: @comment} %> 
    </div>
 </div>
 <table>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= image_tag(comment.user.avatar.small.url) if comment.user.avatar? %>&nbsp<%= comment.content %><small> <br> by <%= User.find(comment.user_id).username %></small><hr></td>
        <td> &nbsp </td>
        
      </tr>
    <% end %>
  </tbody>
 </table>

  <br>
 <div>
    <div class= 'new-comment'>
      <%= render :partial => "comments/form", locals: {post: @post, comment: @comment} %>
    </div>
  </div>

  