
<h1>HRkin Posts</h1>

<% @posts.each do |post| %>
  <div class="media">
   <%= render partial: 'votes/vote', locals: { post: post} %>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to post.title %>
      </h4>
      <h5>
        <%= @post %>
      </h5>
      <small>
        submitted by <%= @post.username %> <%= time_ago_in_words(post.created_at) %> ago 
      </small>
      <%= link_to 'Back', posts_path(@topic,@post) %>
       <%= link_to 'New Post', new_post_path(@topic,@post), class: 'btn btn-success' 'alert alert-success' %>
      <%= will_paginate @posts %>
    </div>
  </div>
<% end %>
<br>


 
