
  <center><strong><h1> HRkin ToDo items </h1></strong></center>
  <br>


<%= link_to 'Your ToDo list', '', id: 'myTodolist', class: 'btn btn-success btn-lg' %>
<div class= "myTodolist hidden" >

<div id= "myToolTip" data-toggle="tooltip" title="Tip: only add task that are specfic and will not take too much time to complete, in other words... go for the small wins" >
<h2> What you need to-do: </h2> </div>
<h5> You have <%=@todos.count %> item(s) on your "To-do" list.</h5>
 

<table id="postindextodo" class="table table-hover" >
  <thead>
    <tr>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by tasks"><button type="button" class="btn btn-primary">Task</button>&nbsp;&#8661;</th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Countdown of 7 days"><button type="button" class="btn btn-primary"> Countdown</button>&#8661;</th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by date: Year-Month-Day"><button type="button" class="btn btn-primary">Date</button>&nbsp;&#8661;</th>
      <th></th>
    </tr>
  <thead>
  <tbody>
   <% @todos.each do |t| %>
  <tr>
    <td ><strong><ul><li><%= t.name %></li></ul></strong></td>
    <td ><%= t.countdown %> days left!</td> 
    <td ><%= t.created_at.strftime "%Y-%m-%d %h"  %></td>
    <td > <%= link_to 'Mark as Done', todoo_path(t), 
    :method => :put %> </td> 
  </tr>
    <% end %>
  <tbody>
</table>

<p><%= link_to 'Add item to the list', new_todoo_path, class: 'btn btn-success' 'alert alert-success' %> </p>
</div>

 <br>
 <hr>


<%= link_to 'Your Done list', '', id: 'myTodonelist', class: 'btn btn-success btn-lg' %>
<div class= "myTodonelist hidden" >
<div id= "myToolTip" data-toggle="tooltip" title="congratulations!" >
 <h2>Done: </h2> </div>
<h5> You have <%=@todone.count %> item(s) on your "Done" list.</h5>
<% @todone.each do |t| %>
  <p>
    <ul><li><strong><%= t.name %></strong>&nbsp<small> <%= link_to 'Remove', t, :confirm => "Are you sure you want to delete?", :method => :delete %> </small></li></ul>
    
  </p>
  <hr>
<%end%>
</div>
 
 <br>
 <hr>



<%= link_to 'What others did', '', id: 'myTodoworldlist', class: 'btn btn-success btn-lg' %>
<div class= "myTodoworldlist hidden" >
<h4><center><%= pluralize(@alldone.where("updated_at >= ?", Time.zone.now.beginning_of_day).count ,'task')%> done today throughout the HRKin World!</center></h4>

<table id="postindex" class="table table-hover" >
  <thead>
    <tr>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by tasks"><button type="button" class="btn btn-primary">Task</button>&nbsp;&#8661;</th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Completed on"><button type="button" class="btn btn-primary"> Done on</button>&#8661;</th>
      <th><id: "myToolTip" data-toggle="tooltip" title="Sort by user"><button type="button" class="btn btn-primary">User</button>&nbsp;&#8661;</th>
     
    </tr>
  <thead>
  <tbody>
   
  <% @alldone.each do |t| %>
   <tr>
     <td ><%= image_tag(t.user.avatar.small.url, class: "img-circle") %>
      <strong><%= t.name %></strong></td>
     <td> <%= t.updated_at.strftime "%Y-%m-%d " %></td>
     <td> <%= t.user.handle %></td>
   </tr>
     <% end %>
  <tbody>
</table>
</div>
