<h3><%= @todo.name %></h3>
 
<p><%= link_to "Back to Todo", todoos_path %></p>

<h4>Comments</h4>
<%= @comments.count %> comments

<table>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content  %></td>    
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "comments/form" %>


