
<h3><%= @todo.name %> </h3>
 <table>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
      </tr>
    <% end %>
  </tbody>
 </table>


  <%= form_for [(@todo, @comment)] do |f| %>
  
  <div class="form-group">
    <%= f.text_field :content, class: 'form-control', placeholder: "Write your comment here" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
  </div>
 <div>
    <div class= 'new-comment'>
      <%= render :partial => "comments/form", locals: {todoo: @todoo, comment: @comment} %>
    </div>
  </div>
